// others
@import "libs/mynormalize";
@import "base/fonts";
@import "base/colors";
@import "interface";
@import "base/mixin";
@import "base/tini";

// blocks
@import "blocks/title";
@import "blocks/info";
@import "blocks/about";
@import "blocks/prengi";
@import "blocks/carusel";
@import "blocks/advantage";
@import "blocks/dev";
@import "blocks/connect";
@import "blocks/footer";
@import "blocks/hamburger";
@import "blocks/animation";
@import "blocks/modal";

// media
@import "media/infoMedia";
@import "media/aboutMedia";
@import "media/prengiMedia";
@import "media/carusellMedia";
@import "media/advantageMedia";

.btn {
    padding: 13px 35px;
    margin-top: 39px;
    background-color: #00c2f0;
    border-radius: 5px;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    @include bold;
}


