.about {
    max-height: 750px;
    // max-height: 100vh;

    background: url("../img/bg3.png") no-repeat center / cover;

    &__header {
        padding-top: 39px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
    }
    .logo {
        left: 0;
        position: relative;
        transition: all 0.6s;
    }
    .logoleft {
        left: -100%;
        transition: all 0.6s;
    }

    &__menu {
        @include bold;
        a {
            padding-right: 46px;
        }
    }
    &__inner {
        display: flex !important;
        justify-content: space-between;
        position: relative;
        padding: 77px 47px 0 71px;
        // padding: 0 60px 0 120px;
    }
    &__phone {
        position: relative;
        // top: 53px;
        // max-width: 500px;
        img {
            width: 100%;
            height: 100%;
            padding-right: 35px;
            object-fit: contain;
        }
    }
    &__phone2 {
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__text {
        // width: 530px;
        padding-top: 100px;
        width: 486px;

        .text {
            font-size: 28px;
            line-height: 38px;
            // width: 486px;
            @include black;
        }
        .subtext {
            padding-top: 27px;
            font-size: 24px;
            line-height: 30px;
            // width: 450px;
            @include reg;
        }
    }

    .prev,
    .next {
        position: absolute;
        top: 85%;
        transform: translateY(-30%);
        left: 2%;
        border: none;
        cursor: pointer;
        img {
            width: 15px;
            height: 15px;
            margin: 0 auto;
        }
    }
    .next {
        right: 2%;
        left: auto;
    }
   
    
}




