.advantage {
    padding-top: 81px;
    &__title {
        font-size: 30px;
        line-height: 35px;
        text-align: center;
 
        h2 {
            width: 370px;

            text-align: center;
            display: inline-block;
            @include black;
        }
    }
    &__wrapper {
        display: grid;
        grid-template: repeat(3, auto) / repeat(2, 500px);
        padding-top: 44px;
        justify-content: center;
    }
    &__atem {
        position: relative;
        img {
            width: 500px;
        }
    }
    &__subtitle {
        background-color: #000;
        position: absolute;
        width: 500px;
        height: 156px;
        opacity: 0.43;
        top: 30%;
    }
    p {
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 23px;
        line-height: 26px;
        color: $color-white;
        text-align: center;
        @include reg;

    }
}
