.carusel {
    min-height: 100vh;
    background: url("../img/bg2.png") 50% / cover no-repeat;
    padding-top: 80px;
    position: relative;
    &__title {
        font-size: 30px;
        line-height: 35px;
        color: $color-white;
        text-align: center;
        h3 {
            width: 616px;
            text-align: center;
            display: inline-block;
            @include black;
        }  
    }
    &__tabs { 
        width: 850px;
        // height: 64px;
        border: 1px solid $color-white;
        border-radius: 5px;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 36px;
        &-items {
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 5px;
        }
        &-item {
            border-right: 2px solid rgba(56, 51, 51, 0.308);
            padding: 10px;
            padding-right: 25px;

        }
        &-item:nth-child(6) {
            border: none;
        }
        &-link {
            font-size: 14px;
            line-height: 25px;
            color: #ffffff;
            @include reg;
            &:hover {
                color: rgb(0, 247, 255);
            }
        }
    }

    &__inner {
        position: relative;
        margin: 0 auto;

        img {
            width: 650px;
            height: 100%;
            object-fit: cover;
            margin: 0 auto;
            display: block;
        }
    }
    .prev_2,
    .next_2 {
        position: absolute;
        top: 70%;
        transform: translateY(-40%);
        left: 22%;
        border: none;
        // background-color: #fff;
        cursor: pointer;
        img {
            width: 18px;
            height: 59px;
            margin: 0 auto;
        }
    }
    .next_2 {
        right: 22%;
        left: auto;
    }
}
