.prengi {
    padding-top: 79px;
    // padding-bottom: 80px;
    &__wrapper {
        display: grid;
        grid-template: repeat(2, minmax(70px, auto)) / repeat(3, 350px);
        column-gap: 31px;
        max-width: 1143px;
    }
    &__title {
        color: $color-black;
        @include bold;
        font-size: 48.1px;
        text-align: center;
        padding-bottom: 37px;
    }
    &__arrowDown {
        width: 169px;
        height: 50px;
        background-color: #ececec;
    }
}
