@media (max-width: 1200px) {
    .about {
        .logo {
            padding-left: 20px;
        }
        &__text {
            width: 350px;
            .text {
                font-size: 23px;
            }
            .subtext {
                padding-top: 20px;
                font-size: 21px;
            }
        }
        .prev,
        .next {
            // display: none;
            top: 75%;
        }
    }
}
@media (max-width: 991px) {
    .about {
        .navHamburger {
            display: block;
        }
        &__menu {
            display: none;
        }
        .hamburger {
            display: flex;
        }
        &__inner {
            padding: 66px 47px 0 71px;
        }
        &__text {
            .text,
            .subtext {
                font-size: 16px;
            }
            .btn {
                padding: 13px 25px;
            }
        }
    }
}
@media (max-width: 900px) {
    .about {
        .prev,
        .next {
            top: 75%;
            padding: 0 10px 0 10px;
        }
        &__inner {
            justify-content: center;
            // padding: 30px 47px 0 71px;
            // padding: 42px 47px 0 71px;
            padding: 15px 15px 100px 15px;
        }
        &__phone,
        &__phone2 {
            display: none;
        }
        &__text {
            max-width: 500px;
            padding: 0px;
            padding-bottom: 20px;
            text-align: center;
        }
    }
}
@media (max-width: 768px) {
    .navHamburger {
        &__menu {
            .title {
                padding-right: 10px;
            }
        }
    }
    .about {
        max-height: 100vh;
        &__header {
            padding-top: 40px;
        }
    }
}
@media (max-width: 576px) {
    .navHamburger {
        &__menu {
            .title {
                padding-top: 7px;
            }
        }
    }
}

@media (max-width: 400px) {
    .navHamburger {
        &__menu {
            flex-direction: column;
        }
    }
    .about {
        &__text {
            .btn {
                font-size: 15px;
            }
        }
        .prev,
        .next {
            display: none;
        }
    }
}
